# .gitignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.pot
*.pyc
*.pyo
*.pyd
*.pydb
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.ipynb_checkpoints

# React
/build
/.idea
/.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*